<html>

<body>
<table>

<tr>
<td><%= link_to :title, article_path(:title) %></td>
#<td><%= link_to :symbol, article_path(:symbol) %> </td>
</tr>
<% @articles.each do |art| %>
<tr> 
<td><%= link_to art.title, article_path(art.id)%></td>
<td><%= link_to art.body, article_path(art.id) %> </td>
 </tr>
 <% end %>
 </table>

 <h4> <%= link_to "Create New Article", new_article_path, class: 'article_title' %> </h4>
</body>

</html>